<div class="form_for">
  <%= form_for(@table) do |f| %>
    <div>
      <%= f.text_field :description, class: 'form-control form-control-lg', placeholder: "Table description", required: true %>
    </div>
      <div>
        <%= f.text_field :location, class: 'form-control form-control-lg', placeholder: "Table location", required: true %>
      </div>
      <div>
        <%= f.file_field :table_photo, direct_upload: true, class: 'form-control form-control-lg' %>
      </div>
    <div class="button">
      <%= f.submit :Submit, class: 'btn btn-dark btn-block' %>
    </div>
  <% end %>
</div>
