 <div class="row-container">
  <% if @tables.empty?  %>
    <h5>You have not posted any tables yet, go ahead!</h5>
  <% else %>
  <% @tables.each do |table| %>
  <div class="card" style="width: 18rem; margin: 10px;">
    <% if table.table_photo.attached? %>
      <img src="<%=(url_for(table.table_photo))%>" class="card-img-top" alt="...">
    <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= link_to table.description, table_path(table) %></h5>
    <p class="card-text"><%= table.location %></p>
  </div>
  <div class="card-body">
    <i class="fas fa-pencil-alt">
    <%= link_to "Edit Table",
            edit_table_path(table),
            data: { confirm: "Are you sure?" } %>
    </i>
    <i class="fas fa-trash-alt">
    <%= link_to "Delete table",
            table_path(table),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
    </i>
  </div>
  </div>
  <% end %>
<% end  %>
</div>
